{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center">DETAIL</h2>
  {% comment %} <h3>{{ review.pk }} 번째 글</h3> {% endcomment %}
  <hr>
  <h1> {{ review.title }}</h1>
  <p>작성자: {{ review.user}}</p>
  <p>내용: {{ review.content }}</p>
  <p>평점: {{ review.rank }}</p>
  <p>작성 시각: {{ review.created_at }}</p>
{% comment %} 삭제하기와 수정하기는 글작성자와 로그인 유저가 같아야 버튼이 활성화됩니다. {% endcomment %}
  {% if user == review.user %} 
  <form action="{% url 'community:update' review.pk %}" method="GET">
    {% csrf_token %}
    <input type="submit" value="수정하기">
  </form>
  <form action="{% url 'community:delete' review.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제하기">
  </form>
  {% else %}
  {% endif %}
  <hr>
  <h4>댓글 목록</h4>
  {% if comments|length %}
    <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}
  {% for comment in comments %}
    <div>
      {{ comment.user }} - {{ comment.content }}
    </div>
  {% empty %}
    <p><b>댓글이 없어요..</b></p>
  {% endfor %}
  <hr>
  {% if user.is_authenticated %}
    <form action="{% url 'community:create_comment' review.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <a href="{% url 'community:index' %}">[목록으로]</a>
{% endblock  %}
