{% extends 'base.html' %} 

{% block content %}
<!-- ======= End Page Header ======= -->
<div class="d-flex align-items-center">
  <div class="container position-relative">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 text-center">
        <h2>REVIEW</h2>
        <p>영화에 대한 평을 남겨주세요. </p>
      </div>
    </div>
  </div>
</div><!-- End Page Header -->

<div style="padding: 0 150px;">

  <form action="{% url 'community:create' %}" method="GET" >
    <div style="text-align: right;">
      <button type="submit" class="my-button">글쓰기</button>
    </div>       
  </form>
  
<hr >

  {% for review in reviews %} 
  
  <a href="{% url 'community:detail' review.pk %}">
    <div>
      <h4>{{ review.title }}</h4>
    </div>
  </a>
  
  <form id="like-form" data-review-id="{{review.pk}}">
    {% csrf_token %} 
    {% if user in review.like_users.all %}
      <button type="submit" id="like-{{ review.pk }}" class="my-button">좋아요 취소</button>
    {% else %}
      <button type="submit" id="like-{{ review.pk }}" class="my-button">좋아요</button>
    {% endif %}
  </form>
  <p>
    <span id="like-count-{{ review.pk }}">
      {{ review.like_users.all|length }}
      </span> 명이 이 글을 좋아합니다.
  </p>

  <hr />
  {% endfor %} 
</div>

{% endblock content %} 


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const forms = document.querySelectorAll("#like-form");
  const csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
  forms.forEach((form) => {
    form.addEventListener("submit", (event) => {
      event.preventDefault();
      const reviewId = event.target.dataset.reviewId;
      const btnLike = document.querySelector(`#like-${reviewId}`);
      const likeCount = document.querySelector(`#like-count-${reviewId}`);
     
      axios({
        method: "post",
        url: `/community/${reviewId}/like/`,
        headers: { "X-CSRFToken": csrfToken },
      })
        .then((response) => {
          likeCount.innerText = response.data.like_count;
          if (response.data.is_liked) {
            btnLike.innerText = "좋아요 취소";
          } else {
            btnLike.innerText = "좋아요";
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    });
  });
</script>
{% endblock script %}
