{% extends 'base.html' %}

{% block content %}
<div style="display: flex; justify-content: center;">
  <iframe src="https://www.youtube.com/embed/{{movie.trailer_key}}" autoplay title="{{movie.title}}" style="width: 100%; max-width: 800px; height: 450px;" ></iframe>
</div>
<div class="text-center mt-3">
  <div>
  <h1>{{ movie.title }}</h1> 
  <form action="{% url 'movies:like' movie.pk %}" method="POST" id="like-form" data-movie-id="{{movie.pk}}">
    {% csrf_token %}
    {% if user in movie.users.all %}
      <button type="submit" id="like-{{ movie.pk }}" class="my-button">좋아요 취소</button>
    {% else %}
      <button type="submit" id="like-{{ movie.pk }}" class="my-button">좋아요</button>
    {% endif %}
  </form>
  </div>
  <div class="container text-center mx-auto mt-4" style="background-color: #474a4d;border-radius: 30px; width: 80%; font-size: 20px; max-width: 700px;">
    <div class="p-2 mb-2">{{ movie.overview }}

    </div>
  </div>  <p>개봉일 : {{ movie.release_date }}</p>
  <p>감독 : {{ movie.director }}</p>

</div>


{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const forms = document.querySelectorAll("#like-form");
  const csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
  forms.forEach((form) => {
    form.addEventListener("submit", (event) => {
      event.preventDefault();
      const movieId = event.target.dataset.movieId;
      const btnLike = document.querySelector(`#like-${movieId}`);
      const likeCount = document.querySelector(`#like-count-${movieId}`);
                  
      axios({
        method: "post",
        url: `/movies/movie_detail/${movieId}/like/`,
        headers: { "X-CSRFToken": csrfToken },
      })
        .then((response) => {
          //likeCount.innerText = response.data.like_count;
          if (response.data.is_liked) {
            btnLike.innerText = "좋아요 취소";
          } else {
            btnLike.innerText = "좋아요";
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    });
  });
</script>
{% endblock script %}