{% extends 'base.html' %}

{% block content %}

<h1>{{ movie.title }}</h1>
<p><img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt=""></p>
<p>{{ movie.overview }}</p>
<p>개봉일 : {{ movie.release_date }}</p>
<p>감독 : {{ movie.director }}</p>

<form action="{% url 'movies:like' movie.pk %}" method="POST" id="like-form" data-movie-id="{{movie.pk}}">
  {% csrf_token %}
  {% if user in movie.users.all %}
    <button type="submit" id="like-{{ movie.pk }}">좋아요 취소</button>
  {% else %}
    <button type="submit" id="like-{{ movie.pk }}">좋아요</button>
  {% endif %}
</form>

{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const forms = document.querySelectorAll("#like-form");
  const csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
  forms.forEach((form) => {
    form.addEventListener("submit", (event) => {
      event.preventDefault();
      const movieId = event.target.dataset.movieId;
      const btnLike = document.querySelector(`#like-${movieId}`);
      const likeCount = document.querySelector(`#like-count-${movieId}`);
                  
      axios({
        method: "post",
        url: `/movies/movie_detail/${movieId}/like/`,
        headers: { "X-CSRFToken": csrfToken },
      })
        .then((response) => {
          //likeCount.innerText = response.data.like_count;
          if (response.data.is_liked) {
            btnLike.innerText = "좋아요 취소";
          } else {
            btnLike.innerText = "좋아요";
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    });
  });
</script>
{% endblock script %}