{% extends 'base.html' %} 

{% block style %}
.search_bar input[type="text"] {
    max-width: 400px;
    min-width: 400px;
    height: 60px; 
.search-word label_tag {
    font-size: 22px;
  }
}

{% endblock style %}
{% block content %}
<div class="p-3 text-center top-search container-fluid search_bar">
<form action="" method="POST">
  {% csrf_token %}  
  {{ form.search_word }}
  <input type="submit" value="검색" class="my-button" style="width: 60px; height:60px; padding: 0px;">
  </form>
</div>

{% if recommand_movie %}
<div style="padding: 0 50px;">   
  <div style="display: flex; align-items: center;">
    <h2 style="margin-right: 10px;">추천 영화 목록</h2>
    <a href="{% url 'movies:index' %}">
      <button class="my-button" style="height: 34px; display: flex; justify-content: center; align-items: center;">재추천</button>
    </a>
  </div>
</div>

<section id="gallery" class="gallery mt-8">
  <div class="container-fluid">
    <div class="row gy-4 justify-content-center">
      {% for movie in recommand_movie %}
      <div class="col-xl-3 col-lg-4 col-md-10">
        <div class="gallery-item h-100">
          <a href="{% url 'movies:detail' movie.pk %}" style="display: block; height: 100%;">
            <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">              
              <a href="{% url 'movies:detail' movie.pk %}" class="details-link"><i class="fas">{{ movie.title }}</i></a>            
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% else %}
<h4>하나 이상의 영화를 좋아요 해주세요!</h4>
<h4>좋아요 한 영화가 많을수록 추천영화가 다양해집니다!</h4>
{% endif %}

{% if request.method == 'POST' %}

<div style="padding-top: 50px;">
  {% if search_value %}
  <h2> "{{ search_value }}"에 대한 검색 결과</h2>
  {% endif %}
  <section id="gallery" class="gallery mt-8">
    <div class="container-fluid">
      <div class="row gy-4 justify-content-center">
        {% for movie in matched_movies %}
        <div class="col-xl-3 col-lg-4 col-md-10">
          <div class="gallery-item h-100">
            <a href="{% url 'movies:detail' movie.pk %}" style="display: block; height: 100%;">
              <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">             
                <a href="{% url 'movies:detail' movie.pk %}" class="details-link"><i class="fas">{{ movie.title }}</i></a>            
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endif %}

{% endblock content %}
